.sidebar {
  position: fixed;
  top: 0;
  left: 0;

  &-menu {
    width: 260px;
    height: 100vh;

  }

  &-item {
    padding: 0 !important;
    &::after {
      display: none;
    }
    .link {
      padding: 0 24px;
      transition: all 0.3s;
    }
    .active {
      background-color: #7367F0;
    }
  }
}
