.navbar {
  position: fixed;
  top: 0;
  left: 260px;
  width: calc(100% - 260px);
  padding: 18px 30px 30px 30px;

  &-menu {
    display: flex;
    align-items: center;
    padding: 20px;

    &-item {
      display: inline-block;

      i {
        display: block;
        cursor: pointer;
        transition: all 200ms linear;
        padding: 0 10px;
        color: white;
        &:hover {
          color: #1890ff;
        }
      }
    }

    .user {
      margin-left: auto;
      margin-right: 0;
    }

  }
}

#user-dropdown {
  width: 150px;
  background: #262c49;
  border-color: #414561;
  i {
    margin: 0 10px;
  }
}
